<?xml version="1.0"?>

<!-- 
    Video Settings.
-->
<video>
    <!-- Set Screen Mode: 0 is windowed, 1 is full-screen -->
    <mode>0</mode>

    <!-- 
        Windowed Mode Settings 
        Scale: Scale or zoom factor for window mode. 1 is original size. 
    -->
    <window>
        <scale>2</scale>
    </window>
    
    <!-- 
        Fullscreen Mode Settings 
        Stretch: Set to 1 to stretch the screen and remove borders.
    -->
    <fullscreen>
        <stretch>0</stretch>
    </fullscreen>
</video>